<a href="https://colab.research.google.com/github/Zitha74/Data-Py-Analysis/blob/main/Copy_of_How_happy_is_the_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How happy is the world?

![HappinessImage-Benjamin Scott](https://drive.google.com/uc?id=1wWdXTclLAjPpZUiKkR8XGg0Sl7iD1u8T)  

(Image by Benjamin Scott, [source](https://www.natureindex.com/news-blog/data-visualization-these-are-the-happiest-countries-world-happiness-report-twenty-nineteen))   

The Sustainable Development Solutions Network (SDSN) collects data across the world relating to happiness.  They use this data to rank countries in order of happiness factor.

This is not an exact science but can give food for thought in terms of what factors might have the most impact on a nation's happiness levels.

Data is taken from the Gallup World Poll, so not collected directly by SDSN.  
Countries are grouped by region.  

### The factors included are:
Economy (measured in GDP per Capita)	
Family (support systems) 	
Health (measured by Life Expectancy)	
Freedom (sense of)  	 
Trust (Government Corruption)	
Generosity (charitable inclinations)  	
Dystopia Residual 
*  Dystopic is the theoretical most unhappy country with the lowest levels in all six of the above factors  
*  The Residual measure is a calculated as the average of the six distances from lowest

Let's take a look at the data

---
### Open a data set

Open the data set, an Excel file with only one sheet (so sheet_name is not necessary) from here: https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true

Interrogate the data (head, tail, iloc) to get to know what it contains.

In [2]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2019.xlsx?raw=true'
happiness = pd.read_excel(url)
happiness

     Overall rank  ... Perceptions of corruption
0               1  ...                     0.393
1               2  ...                     0.410
2               3  ...                     0.341
3               4  ...                     0.118
4               5  ...                     0.298
..            ...  ...                       ...
151           152  ...                     0.411
152           153  ...                     0.147
153           154  ...                     0.025
154           155  ...                     0.035
155           156  ...                     0.091

[156 rows x 9 columns]

In [3]:
# head 
happiness.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410
2             3            Norway  ...       0.271                      0.341
3             4           Iceland  ...       0.354                      0.118
4             5       Netherlands  ...       0.322                      0.298

[5 rows x 9 columns]

In [4]:
# Tail
happiness.tail()

     Overall rank  ... Perceptions of corruption
151           152  ...                     0.411
152           153  ...                     0.147
153           154  ...                     0.025
154           155  ...                     0.035
155           156  ...                     0.091

[5 rows x 9 columns]

In [5]:
# Iloc - specific rows of data
happiness.iloc[100:115]

     Overall rank  ... Perceptions of corruption
100           101  ...                     0.130
101           102  ...                     0.082
102           103  ...                     0.093
103           104  ...                     0.055
104           105  ...                     0.164
105           106  ...                     0.055
106           107  ...                     0.027
107           108  ...                     0.047
108           109  ...                     0.062
109           110  ...                     0.066
110           111  ...                     0.072
111           112  ...                     0.270
112           113  ...                     0.056
113           114  ...                     0.102
114           115  ...                     0.113

[15 rows x 9 columns]

---
### Sort the data in different ways

The data is currently sorted in order of rank.  To sort the data in the table, run the code below, which identifies the column on which to sort in the brackets.

Then, **try sorting on other columns** *Note: you must type the column heading in the quotes and exactly as it appears in the table (including capitalisation)*.  To sort on multiple columns, enter a list of column headings in the brackets (e.g. `.sort_values(['Region','Freedom'])`

In [6]:
sorted_table = happiness.sort_values(['Country or region', 'Freedom to make life choices'])
sorted_table  # output the table below

     Overall rank Country or region  ...  Generosity  Perceptions of corruption
153           154       Afghanistan  ...       0.158                      0.025
106           107           Albania  ...       0.178                      0.027
87             88           Algeria  ...       0.073                      0.114
46             47         Argentina  ...       0.066                      0.050
115           116           Armenia  ...       0.095                      0.064
..            ...               ...  ...         ...                        ...
107           108         Venezuela  ...       0.064                      0.047
93             94           Vietnam  ...       0.147                      0.073
150           151             Yemen  ...       0.108                      0.077
137           138            Zambia  ...       0.247                      0.087
145           146          Zimbabwe  ...       0.151                      0.089

[156 rows x 9 columns]

---
### Summarising the data

Look at the happiness dataframe.  Create new dataframes from a range of rows, columns, statistical information, etc.

For each dataframe, add a text cell to explain what it is showing

In [7]:
happiness.describe()

       Overall rank       Score  ...  Generosity  Perceptions of corruption
count    156.000000  156.000000  ...  156.000000                 156.000000
mean      78.500000    5.407096  ...    0.184846                   0.110603
std       45.177428    1.113120  ...    0.095254                   0.094538
min        1.000000    2.853000  ...    0.000000                   0.000000
25%       39.750000    4.544500  ...    0.108750                   0.047000
50%       78.500000    5.379500  ...    0.177500                   0.085500
75%      117.250000    6.184500  ...    0.248250                   0.141250
max      156.000000    7.769000  ...    0.566000                   0.453000

[8 rows x 8 columns]

---
### Next steps

There are data sets for the years 2015 to 2019 available.  To access and try out other years, change 2015 to the required year in the URL in the first code cell.  Leave the rest exactly as it is.  

Other years may have different column headings and so there will be different data to play with.